#ep-section1-heading-controls {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

#ep-section1-heading-controls > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#ep-name,
#ep-competition-time {
  border: none;
  padding: 10px 0px;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;

  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;
}

#ep-competition-time {
  padding-left: 15px;
}

#ep-section1-heading-controls > div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#ep-save-btn {
  padding: 10px 50px;
  border: none;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: rgba(83, 194, 102, 0.6);
  box-shadow: inset 0px 0px 13px #ffffff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  /* or 92% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;

  cursor: pointer;
}

#ep-buttons-wrapper {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

#ep-status-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: 10px;
}

#ep-status {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  padding: 10px 10px;

  border: 1px solid gray;
  border-radius: 20px;
}

#ep-status > div {
  width: 80px;
  padding: 5px 5px;
  text-align: center;
  border-radius: 10px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2em;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;

  transition: all 1s;

  cursor: pointer;
}

#ep-status > div:nth-of-type(1) {
  border: 1px solid rgb(0, 255, 64);
  background-color: #21b52c;
}
#ep-status > div:nth-of-type(2) {
  /* border: 1px solid rgb(255, 38, 0); */
  border: 1px solid #f08222;
  /* background-color: #f04444; */
  background-color: #e9a467;
}

.ep-status-stopped {
  /* background-color: rgb(226, 90, 90); */
  background-color: #e9a36787;
}

.ep-status-stopped > div:nth-of-type(2) {
  opacity: 0.3;
}

.ep-status-active {
  /* background-color: #68ee71; */
  background-color: rgba(83, 194, 102, 0.6);
}
.ep-status-active > div:nth-of-type(1) {
  opacity: 0.3;
}
