<div id="ep-section1-heading-controls">
  <div>
    <input
      id="ep-name"
      type="text"
      placeholder="ИМЕ НА СЪСТЕЗАНИЕТО"
      [(ngModel)]="competition.name"
    />
  </div>
  <div>
    <input
      id="ep-competition-time"
      type="number"
      placeholder="ПРОДЪЛЖИТЕЛНОСТ"
      [(ngModel)]="competition.competitionTime"
    />
    <div id="ep-buttons-wrapper">
      <div id="ep-status-wrapper">
        <div
          id="ep-status"
          [ngClass]="
            competition.isEnabled ? 'ep-status-active' : 'ep-status-stopped'
          "
        >
          <div (click)="competition.isEnabled = true">Пусни</div>
          <div (click)="competition.isEnabled = false">Скрий</div>
        </div>
      </div>
      <button id="ep-save-btn" (click)="savePTCBlank($event)">ЗАПАЗИ</button>
    </div>
  </div>
</div>
