<div class="avatars-wrapper">
  <div class="avatar" *ngFor="let avatar of avatars">
    <div class="top-row">
      <div class="image-wrap">
        <div
          class="avatar-image"
          [ngStyle]="{
            'background-image': 'url(' + avatar.displayImage + ')'
          }"
        ></div>
      </div>
      <div class="top-right">
        <div class="top-right-first-row">
          <div>{{ avatar.name }}</div>
          <div>{{ avatar.years }}</div>
        </div>
        <div class="top-right-second-row">{{ avatar.description }}</div>
      </div>
    </div>
    <div class="bottom-row">
      <textarea
        class="teacher-comment"
        [(ngModel)]="avatar.comment"
        placeholder="Въведете коментар"
      ></textarea>
      <div class="controls">
        <button class="unapprove" (click)="unapprove(avatar)">ОТХВЪРЛИ</button>
        <input type="text" [(ngModel)]="avatar.points" placeholder="ТОЧКИ" />
        <button class="approve" (click)="approve(avatar)">ОДОБРИ</button>
      </div>
    </div>
  </div>
</div>
