<div id="content-first-row">
  <div>
    <select (change)="onClassSelected($event)">
      <option value="5А">5А</option>
      <option value="5Б">5Б</option>
      <option value="6А">6А</option>
      <option value="6Б">6Б</option>
      <option value="7А">7А</option>
      <option value="7Б">7Б</option>
      <option value="8А">8А</option>
      <option value="8Б">8Б</option>
      <option value="9А">9А</option>
      <option value="9Б">9Б</option>
      <option value="10А">10А</option>
      <option value="10Б">10Б</option>
      <option value="11А">11А</option>
      <option value="11Б">11Б</option>
      <option value="12А">12А</option>
      <option value="12Б" selected>12Б</option>
    </select>
  </div>

  <div id="register-requests-btn">
    <a routerLink="/profile/register-requests">Заявки за регистрация</a>
  </div>
</div>

<div class="results-table" id="content-wrapper">
  <table>
    <thead>
      <tr>
        <th>Номер</th>
        <th>Име, Презиме, Фамилия</th>
        <th>Бутон</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.number }}</td>
        <td>
          {{
            student.firstName + " " + student.surName + " " + student.lastName
          }}
        </td>
        <td><button (click)="editProfile(student)">РЕДАКТИРАЙ</button></td>
      </tr>
    </tbody>
  </table>
  <div id="pagination-buttons">
    <div
      [ngClass]="pageNumber <= 0 ? 'pagination-end' : ''"
      id="pagination-button-left"
      class="pagination-button"
      (click)="previousPage()"
    >
      <img src="../../../../../assets/core/pagination_arrow.svg" />
      <div>
        <p>ПРЕДИШНА СТРАНИЦА</p>
      </div>
    </div>
    <div
      [ngClass]="pageNumber + 1 >= maxPageNumber ? 'pagination-end' : ''"
      id="pagination-button-right"
      class="pagination-button"
      (click)="nextPage()"
    >
      <div>
        <p>СЛЕДВАЩА СТРАНИЦА</p>
      </div>
      <img src="../../../../../assets/core/pagination_arrow.svg" />
    </div>
  </div>
</div>
