<div class="question-wrapper">
  <form [formGroup]="radioGroup" class="question-content">
    <div class="question">
      <input type="text" [disabled]="true" value="{{ question.question }}" />
    </div>

    <div class="answers">
      <div>
        <div class="answer">
          <input
            [disabled]="true"
            type="text"
            value="{{ question.answers[0] }}"
          />
          <input
            type="radio"
            value="{{ question.answers[0] }}"
            formControlName="answer"
            (change)="onSelectAnswer(question.answers[0])"
          />
        </div>
        <div class="answer">
          <input
            type="radio"
            value="{{ question.answers[1] }}"
            formControlName="answer"
            (change)="onSelectAnswer(question.answers[1])"
          />
          <input
            [disabled]="true"
            type="text"
            value="{{ question.answers[1] }}"
          />
        </div>
      </div>
      <div>
        <div class="answer">
          <input
            [disabled]="true"
            type="text"
            value="{{ question.answers[2] }}"
          />
          <input
            type="radio"
            value="{{ question.answers[2] }}"
            formControlName="answer"
            (change)="onSelectAnswer(question.answers[2])"
          />
        </div>
        <div class="answer">
          <input
            type="radio"
            value="{{ question.answers[3] }}"
            formControlName="answer"
            (change)="onSelectAnswer(question.answers[3])"
          />
          <input
            [disabled]="true"
            type="text"
            value="{{ question.answers[3] }}"
          />
        </div>
      </div>
    </div>
  </form>
</div>
