<div class="section-info">
  <div class="section-info-heading">АВАТАРИ</div>
  <div class="info-line">
    <div class="stats">
      <label>Създадени аватари</label>
      <div>{{ user.avatars.length }}</div>
    </div>
    <button id="create-avatar-button" (click)="createAvatar()">
      СЪЗДАЙ АВАТАР
    </button>
    <div class="stats">
      <div>{{ user.avatarsPoints }}</div>
      <label>Точки от аватари</label>
    </div>
  </div>
</div>

<div class="section-avatars">
  <div class="avatar" *ngFor="let avatar of user.avatars">
    <div class="left-side">
      <div class="left-top">
        <div class="image-wrap">
          <div
            class="avatar-image"
            [ngStyle]="{
              'background-image': 'url(' + avatar.displayImage + ')'
            }"
          ></div>
        </div>
        <div class="left-top-info">
          <div>{{ avatar.name }}</div>
          <div>{{ avatar.years }}</div>
        </div>
      </div>
      <div class="left-bottom">
        <div class="avatar-description">
          {{ avatar.description }}
        </div>
      </div>
    </div>
    <div class="right-side">
      <div>{{ avatar.judgedBy }}</div>
      <div>
        {{ avatar.comment }}
      </div>
      <div>
        <div>{{ avatar.points }} точки</div>
        <div>{{ avatar.parsedDate }}</div>
      </div>
      <button (click)="useAvatar(avatar._id)">ПРИЛОЖИ</button>
    </div>
  </div>
</div>
