.section-info,
.section-avatars {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  row-gap: 20px;
  padding: 20px 0px;

  border-bottom: 10px solid #ba8761;
}

.section-info {
  padding-top: 0px;
  padding-bottom: 100px;
}

.section-avatars {
  padding: 0px;
  row-gap: 0px;
}

.section-info-heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 29px;
  /* or 60% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 10px;
}

.info-line {
  width: 100%;

  display: flex;
  justify-content: center;

  column-gap: 100px;

  background: linear-gradient(237.14deg, #594833 0%, #f4b483 100%);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 0px;

  padding: 30px 0px;
}

.stats {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.stats label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  /* or 119% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;
}

.stats div {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  border-radius: 0px;

  width: 75px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 29px;
  /* or 119% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;
}

#create-avatar-button,
.right-side button {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: radial-gradient(
      50% 1030.19% at 50% 50%,
      rgba(114, 63, 0, 0.6) 0%,
      rgba(244, 180, 131, 0.6) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border: 2px solid #ffffffa8;
  box-shadow: inset 0px 0px 13px #ffffff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 29px;
  /* or 119% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;
  cursor: pointer;

  padding: 20px 100px;
}

.avatar {
  width: 100%;
  display: flex;
  column-gap: 40px;
  padding: 40px 0px;
  border-bottom: 5px solid #ba8761;
}

.left-side,
.right-side {
  flex: 1;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.left-side {
  background: linear-gradient(122.86deg, #594833 0%, #f4b483 100%);
  box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0px 30px 30px 0px;
}

.right-side {
  background: linear-gradient(237.14deg, #594833 0%, #f4b483 100%);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 30px 0px 0px 30px;

  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.left-top {
  display: flex;
  column-gap: 20px;
}

.image-wrap {
  flex: 2;
  padding: 20px;

  background: linear-gradient(122.86deg, #594833 0%, #f4b483 100%);
  box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0px 30px 30px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-image {
  width: 300px;
  height: 225px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.left-top-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  padding: 20px 20px 0px 0px;
}

.left-top-info div,
.avatar-description,
.right-side div:not(:nth-of-type(3)) {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;

  padding: 10px;
}

.left-top-info div {
  font-weight: 700;
}

.left-bottom {
  padding: 0px 20px 20px 20px;
}

.avatar-description {
  height: 200px;
  max-height: 200px;
  overflow-y: auto;
}

.right-side > div {
  width: 100%;
}

.right-side > div:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

.right-side > div:nth-child(3) > div {
  width: 30%;
}

.right-side > div:nth-of-type(2) {
  height: 100%;
}

.right-side button {
  display: block;
  font-size: 18px;
  padding: 10px 60px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
}
