<div class="faq-wrapper">
  <div class="faq-popup">
    <div class="faq-controls">
      <div *ngIf="role !== 'student'">
        <button class="faq-switch-student" (click)="showStudentFaq()">
          Ученик
        </button>
        <button class="faq-switch-teacher" (click)="showTeacherFaq()">
          Учител
        </button>
      </div>
      <button class="faq-close" (click)="closeFaq.emit('close')">
        Затвори
      </button>
    </div>
    <div class="faq-accordion" *ngIf="selected === 'student'">
      <button class="accordion" (click)="accordionToggle($event)">
        Как мога да прочета урок
      </button>
      <div>
        За да прочетете урок е необходимо да натиснете на бутона "УРОЦИ", който
        е разположен в хедъра на сайта(най-отгоре на страницата). След като
        натиснете на бутона пред Вас ще се отвори екран, в дясната му част ще
        видите списък с ЕРИ - натиснете на избраната от Вас Ера. След като
        изберете Ера, ще трябва да натиснене и върху желаният от вас урок.
        Тогава ще се зареди страницата на урока на която е изобразена времевата
        линия, обхващаща събитията от урока - натиснете върху годината на
        събитието за да прочетете повече за него.
      </div>
      <button class="accordion" (click)="accordionToggle($event)">
        Как мога реша упражнение
      </button>
      <div>
        За да прочетете урок е необходимо да натиснете на бутона "УРОЦИ", който
        е разположен в хедъра на сайта(най-отгоре на страницата). След като
        натиснете на бутона пред Вас ще се отвори екран, в дясната му част ще
        видите списък с ЕРИ - натиснете на избраната от Вас Ера. След като
        изберете Ера, ще трябва да натиснене и върху желаният от вас урок.
        Тогава ще се зареди страницата на урока на която е изобразена времевата
        линия, обхващаща събитията от урока - натиснете върху годината на
        събитието за да прочетете повече за него.
      </div>
      <button class="accordion" (click)="accordionToggle($event)">
        Как мога да реша състезание
      </button>
      <div>
        За да прочетете урок е необходимо да натиснете на бутона "УРОЦИ", който
        е разположен в хедъра на сайта(най-отгоре на страницата). След като
        натиснете на бутона пред Вас ще се отвори екран, в дясната му част ще
        видите списък с ЕРИ - натиснете на избраната от Вас Ера. След като
        изберете Ера, ще трябва да натиснене и върху желаният от вас урок.
        Тогава ще се зареди страницата на урока на която е изобразена времевата
        линия, обхващаща събитията от урока - натиснете върху годината на
        събитието за да прочетете повече за него.
      </div>
      <button class="accordion" (click)="accordionToggle($event)">
        Как мога да реша контролно
      </button>
      <div>
        За да прочетете урок е необходимо да натиснете на бутона "УРОЦИ", който
        е разположен в хедъра на сайта(най-отгоре на страницата). След като
        натиснете на бутона пред Вас ще се отвори екран, в дясната му част ще
        видите списък с ЕРИ - натиснете на избраната от Вас Ера. След като
        изберете Ера, ще трябва да натиснене и върху желаният от вас урок.
        Тогава ще се зареди страницата на урока на която е изобразена времевата
        линия, обхващаща събитията от урока - натиснете върху годината на
        събитието за да прочетете повече за него.
      </div>
      <button class="accordion" (click)="accordionToggle($event)">
        Как мога да създам аватар
      </button>
      <div>
        За да прочетете урок е необходимо да натиснете на бутона "УРОЦИ", който
        е разположен в хедъра на сайта(най-отгоре на страницата). След като
        натиснете на бутона пред Вас ще се отвори екран, в дясната му част ще
        видите списък с ЕРИ - натиснете на избраната от Вас Ера. След като
        изберете Ера, ще трябва да натиснене и върху желаният от вас урок.
        Тогава ще се зареди страницата на урока на която е изобразена времевата
        линия, обхващаща събитията от урока - натиснете върху годината на
        събитието за да прочетете повече за него.
      </div>
    </div>
    <div class="faq-accordion" *ngIf="selected === 'teacher'">
      <button class="accordion" (click)="accordionToggle($event)">Уроци</button>
      <div>
        За да прочетете урок е необходимо да натиснете на бутона "УРОЦИ", който
        е разположен в хедъра на сайта(най-отгоре на страницата). След като
        натиснете на бутона пред Вас ще се отвори екран, в дясната му част ще
        видите списък с ЕРИ - натиснете на избраната от Вас Ера. След като
        изберете Ера, ще трябва да натиснене и върху желаният от вас урок.
        Тогава ще се зареди страницата на урока на която е изобразена времевата
        линия, обхващаща събитията от урока - натиснете върху годината на
        събитието за да прочетете повече за него.
      </div>
      <button class="accordion" (click)="accordionToggle($event)">
        Упражнения
      </button>
      <div>
        За да прочетете урок е необходимо да натиснете на бутона "УРОЦИ", който
        е разположен в хедъра на сайта(най-отгоре на страницата). След като
        натиснете на бутона пред Вас ще се отвори екран, в дясната му част ще
        видите списък с ЕРИ - натиснете на избраната от Вас Ера. След като
        изберете Ера, ще трябва да натиснене и върху желаният от вас урок.
        Тогава ще се зареди страницата на урока на която е изобразена времевата
        линия, обхващаща събитията от урока - натиснете върху годината на
        събитието за да прочетете повече за него.
      </div>
      <button class="accordion" (click)="accordionToggle($event)">
        Състезания
      </button>
      <div>
        За да прочетете урок е необходимо да натиснете на бутона "УРОЦИ", който
        е разположен в хедъра на сайта(най-отгоре на страницата). След като
        натиснете на бутона пред Вас ще се отвори екран, в дясната му част ще
        видите списък с ЕРИ - натиснете на избраната от Вас Ера. След като
        изберете Ера, ще трябва да натиснене и върху желаният от вас урок.
        Тогава ще се зареди страницата на урока на която е изобразена времевата
        линия, обхващаща събитията от урока - натиснете върху годината на
        събитието за да прочетете повече за него.
      </div>
      <button class="accordion" (click)="accordionToggle($event)">
        Контролни
      </button>
      <div>
        За да прочетете урок е необходимо да натиснете на бутона "УРОЦИ", който
        е разположен в хедъра на сайта(най-отгоре на страницата). След като
        натиснете на бутона пред Вас ще се отвори екран, в дясната му част ще
        видите списък с ЕРИ - натиснете на избраната от Вас Ера. След като
        изберете Ера, ще трябва да натиснене и върху желаният от вас урок.
        Тогава ще се зареди страницата на урока на която е изобразена времевата
        линия, обхващаща събитията от урока - натиснете върху годината на
        събитието за да прочетете повече за него.
      </div>
      <button class="accordion" (click)="accordionToggle($event)">
        Аватари
      </button>
      <div>
        За да прочетете урок е необходимо да натиснете на бутона "УРОЦИ", който
        е разположен в хедъра на сайта(най-отгоре на страницата). След като
        натиснете на бутона пред Вас ще се отвори екран, в дясната му част ще
        видите списък с ЕРИ - натиснете на избраната от Вас Ера. След като
        изберете Ера, ще трябва да натиснене и върху желаният от вас урок.
        Тогава ще се зареди страницата на урока на която е изобразена времевата
        линия, обхващаща събитията от урока - натиснете върху годината на
        събитието за да прочетете повече за него.
      </div>
      <button class="accordion" (click)="accordionToggle($event)">
        Управление на профили
      </button>
      <div>
        За да прочетете урок е необходимо да натиснете на бутона "УРОЦИ", който
        е разположен в хедъра на сайта(най-отгоре на страницата). След като
        натиснете на бутона пред Вас ще се отвори екран, в дясната му част ще
        видите списък с ЕРИ - натиснете на избраната от Вас Ера. След като
        изберете Ера, ще трябва да натиснене и върху желаният от вас урок.
        Тогава ще се зареди страницата на урока на която е изобразена времевата
        линия, обхващаща събитията от урока - натиснете върху годината на
        събитието за да прочетете повече за него.
      </div>
    </div>
  </div>
</div>
