<div id="solvep-wrapper">
  <div id="solvep-heading">
    <div id="solvep-minutes-left"></div>
    <div id="solvep-lesson-name">{{ lesson.name }}</div>
    <div *ngIf="totalQuestions != 0 && markedQuestions == totalQuestions" class="solvep-header-right-box solvep-btn-send">
      <div (click)="sendPractice()">Предай</div>
    </div>
    <div *ngIf="totalQuestions != 0 && markedQuestions != totalQuestions" class="solvep-header-right-box">
      <div>{{markedQuestions}}/{{totalQuestions}}</div>
    </div>
  </div>
  <div id="solvep-timeline" *ngIf="isStarted">
    <div id="lesson-items-grid">
      <div class="lesson-grid-item" *ngFor="let question of practice.questions">
        <p>{{ question.itemName }}</p>
        <div class="lesson-grid-item-linecircle-wrapper">
          <div class="lesson-grid-item-choose-line"></div>
          <div
            class="lesson-grid-item-choose-circle"
            [ngClass]="question.markedAnswer ? 'solvep-timeline-checked' : ''"
            (click)="onChooseItem($event, question._id)"
          ></div>
        </div>
        <div>
          <button
            class="lesson-grid-item-choose-button"
            (click)="onChooseItem($event, question._id)"
          >
            РЕШИ
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="solvep-question" *ngIf="displayedQuestion != '' && isStarted">
    <div id="solvep-prev-question">
      <div (click)="prevQuestion()">
        &#10096;
      </div>
    </div>
    <div class="ep-question">
      <div>
        <div class="ep-question-index">
          <span>{{ displayedQuestion.questionIndex }}</span>
        </div>
        <div class="ep-question-box">
          <div>{{ displayedQuestion.question }}</div>
          <div class="ep-asnwers-wrapper">
            <div>
              <div>
                <div class="question-answer">{{ displayedQuestion.answers[0] }}</div>
                <div
                  class="ep-check-a1"
                  (click)="markQuestion($event, displayedQuestion._id, displayedQuestion.answers[0], 1)"
                ></div>
              </div>
              <div>
                <div class="question-answer">{{ displayedQuestion.answers[1] }}</div>
                <div
                  class="ep-check-a2"
                  (click)="markQuestion($event, displayedQuestion._id, displayedQuestion.answers[1], 2)"
                ></div>
              </div>
            </div>
            <div>
              <div>
                <div
                  class="ep-check-a3"
                  (click)="markQuestion($event, displayedQuestion._id, displayedQuestion.answers[2], 3)"
                ></div>
                <div class="question-answer">{{ displayedQuestion.answers[2] }}</div>
              </div>
              <div>
                <div
                  class="ep-check-a4"
                  (click)="markQuestion($event, displayedQuestion._id, displayedQuestion.answers[3], 4)"
                ></div>
                <div class="question-answer">{{ displayedQuestion.answers[3] }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="solvep-next-question">
      <div (click)="nextQuestion()">
        &#10097;
      </div>
    </div>
  </div>
</div>

<div id="solvep-start-wrapper" *ngIf="!isStarted">
  <button *ngIf="!isSent" id="start-practice-button" (click)="startPractice($event)">
    ЗАПОЧНИ
  </button>
  <div *ngIf="isSent" id="successfull-sent" (click)="startPractice($event)">
    <div>УСПЕШНО ПРЕДАДЕНО</div>
    <div (click)="goToHomepage()">Начална страница</div>
  </div>
</div>
