<div
  class="tc-wrapper"
  [ngClass]="tc.type === 'tests' ? 'wrap-test' : 'wrap-competition'"
>
  <div class="row1">
    <div class="subrow">
      <div>ЕРА</div>
      <div>{{ tc.eraName }}</div>
    </div>
    <div class="subrow">
      <div>УРОК</div>
      <div>{{ tc.lessonName }}</div>
    </div>
    <div class="subrow">
      <div>ИМЕ</div>
      <div>{{ tc.ptcBlank.name }}</div>
    </div>
  </div>

  <div class="row2">
    <div class="subrow">
      <div>
        <div>ПРОДЪЛЖИТЕЛНОСТ</div>
        <div>{{ tc.ptcBlank.competitionTime }} минути</div>
      </div>
      <button (click)="loadTC($event)">ЗАПОЧНИ</button>
    </div>
  </div>
</div>
