<div id="first-section">
  <div id="left-column">
    <div id="avatar-wrapper">
      <!-- avatar image -->
      <img id="profile-avatar" src="../../../assets/defaults/profile-picture.png"/>
    </div>
    <div id="avatar-description-wrapper">
      <!-- avatar description -->
      <p id="avatar-description">Хан Аспарух - 681-700 г.</p>
    </div>
  </div>
  <div id="right-column">
    <div id="profile-info-wrapper">
      <!-- profile info -->
      <div id="info-student">
        <!-- student info -->
        <div id="info-student-first-row">
          <div>
            <label>Име на ученика</label>
            <p id="student-name">Иван Иванов</p>
          </div>
        </div>
        <div id="info-student-second-row">
          <div>
            <label>Среден успех</label>
            <p id="student-avg-grade">5.40</p>
          </div>
          <div>
            <label>Клас</label>
            <p id="student-class">7Б</p>
          </div>
          <div>
            <label>Номер</label>
            <p id="student-number">18</p>
          </div>
          <div>
            <label>Телефон</label>
            <p id="student-phone">0897654321</p>
          </div>
        </div>
        <div id="info-student-third-row">
          <div>
            <label>Адрес на ученика</label>
            <p id="student-address">гр.Русе, ул. Студентска, 96</p>
          </div>
        </div>
      </div>
      <div id="info-teacher"><!-- teacher info -->
        <div id="info-teacher-first-row">
          <div>
            <label>Име на класен ръководител</label>
            <p id="teacher-name">Мария Михайлова</p>
          </div>
          <div>
            <label>Телефон</label>
            <p id="teacher-phone">0897654321</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
