div#first-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  column-gap: 20%;
}
.avatar-image {
  width: 100%;
  height: 275px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* BOTH COLUMNS */
#left-column,
#right-column {
  flex: 1 1 0;
  padding: 40px 40px;
  box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.5);
}

#left-column {
  background: linear-gradient(
    122.86deg,
    hsl(33, 27%, 30%) 0%,
    hsl(26, 65%, 80%) 100%
  );
  border-radius: 0px 30px 30px 0px;
}

#right-column {
  background: linear-gradient(
    237.14deg,
    hsl(33, 27%, 30%) 0%,
    hsl(26, 65%, 80%) 100%
  );
  border-radius: 30px 0px 0px 30px;
}

/* LEFT COLUMN */
#avatar-wrapper,
#avatar-wrapper > img {
  width: 100%;
}

#avatar-description-wrapper {
  margin-top: 20px;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  padding: 5px 0px;
  border-radius: 15px;
}
#avatar-description-wrapper > p {
  text-align: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3em;
  letter-spacing: -0.02em;

  color: #ffffff;
  padding: 10px;
}

/* RIGHT COLUMN */
#profile-info-wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile-info-wrapper label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;

  letter-spacing: -0.02em;

  color: #ffffff;
}

#profile-info-wrapper p {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);

  text-align: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3em;

  letter-spacing: -0.02em;

  color: #ffffff;

  padding: 5px 10px;
}

/* INFO LEFT (STUDENT AND TEACHER) */
#info-student,
#info-teacher {
  display: flex;
  flex-direction: column;
}

#info-student-first-row,
#info-student-second-row,
#info-student-third-row,
#info-teacher-first-row {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

#info-student-first-row div,
#info-student-second-row div,
#info-student-third-row div,
#info-teacher-first-row div:nth-of-type(1) {
  flex: 5 1 0;
}

#info-student-second-row div:nth-of-type(2),
#info-student-second-row div:nth-of-type(3),
#info-teacher-first-row div:nth-of-type(2) {
  flex: 3 1 0;
}

#info-student-second-row div,
#info-student-third-row div {
  margin-top: 10px;
}

#background-bottom-sticky {
  width: 100%;
  position: absolute;
  z-index: -9999;
  bottom: 0;
  left: 0;
}

#background-bottom-sticky > img {
  width: 100%;
}
