#solvep-wrapper {
  display: flex;
  width: 100%;
  height: 100%;

  overflow-y: hidden;
  flex-direction: column;
  align-self: center;

  overflow-y: hidden;
}

#solvep-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#solvep-heading > div {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: -0.02em;
  color: #ffffff;

  padding: 10px 20px;
}

#solvep-minutes-left {
  width: 100px;
  text-align: center;
}

.solvep-header-right-box {
  width: 100px;
  text-align: center;
}

#solvep-start-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999999;

  display: flex;
  align-items: center;
  justify-content: center;
}

#start-practice-button {
  width: 50vw;
  height: 30vh;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10vh;
  line-height: 1.3em;
  letter-spacing: -0.02em;
  color: #ffffff;

  border: 1px solid gray;
  background-color: rgba(128, 128, 128, 0.466);

  cursor: pointer;
}

#lesson-items-grid {
  margin-top: 30px;
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  gap: 15px 0px;
  justify-content: center;
  align-content: start;
  justify-items: center;
  align-items: center;
  overflow-y: hidden;
}

.lesson-grid-item {
  height: 200px;
  width: 100%;
}

.lesson-grid-item > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2em;

  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #000000;
  height: 50px;
}

.lesson-grid-item-linecircle-wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lesson-grid-item-choose-line {
  content: "";
  width: 100%;
  height: 30px;
  background: #ba8761;
  box-shadow: 30px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

.lesson-grid-item-choose-circle {
  position: absolute;
  border-radius: 40px;
  background: #ba8761;
  content: "";
  width: 70px;
  height: 70px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;

  text-transform: uppercase;
}

.lesson-grid-item > div:nth-of-type(2) {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lesson-grid-item-choose-button {
  padding: 20px 50px;

  border: 0px solid white;
  background: radial-gradient(
    50% 1030.19% at 50% 50%,
    rgba(114, 63, 0, 0.6) 31.77%,
    rgba(244, 180, 131, 0.6) 100%
  );
  box-shadow: inset 0px 0px 13px #ffffff;
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3px;
  /* or 179% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;

  cursor: pointer;
}

.solvep-timeline-checked {
  background: rgba(80, 253, 57, 0.6) !important;
}

.questions {
  width: 100%;
}

#solvep-question {
  padding: 0px 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#solvep-prev-question,
#solvep-next-question {
  width: 50px;
  height: 50px;
}

#solvep-prev-question,
#solvep-next-question {
  display: flex;
  align-items: center;
  justify-content: center;
}

#solvep-next-question > div,
#solvep-prev-question > div {
  width: 50px;
  padding: 50px 0px;
  background: linear-gradient(
    237.14deg,
    rgba(235, 111, 8, 0.54) 0%,
    rgba(83, 194, 102, 0.9) 100%
  );
  text-align: center;
  font-size: 50px;

  box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  color: white;

  cursor: pointer;
}

#successfull-sent {
  width: 50vw;
  height: 30vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
}

.solvep-btn-send {
  background-color: #9dff6f !important;
  color: black !important;
  cursor: pointer !important;
}

#successfull-sent > div:nth-of-type(1) {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10vh;
  line-height: 1.3em;
  letter-spacing: -0.02em;
  color: #9dff6f;

  text-align: center;

  cursor: pointer;
}

#successfull-sent > div:nth-of-type(2) {
  padding: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 5vh;
  line-height: 1.3em;
  letter-spacing: -0.02em;
  color: #ffffff;

  text-align: center;

  background-color: rgba(128, 128, 128, 0.466);
  border: 1px solid gray;

  cursor: pointer;
}
