<div class="competitions-test-wrapper">
  <div class="status-controls">
    <div class="buttons">
      <button (click)="onToggle('competitions')">Състезание</button>
      <button (click)="onToggle('tests')">Контролно</button>
    </div>
    <div class="label">
      <span>СПРИ / ПУСНИ</span>
    </div>
  </div>
  <div class="results-controls">
    <div class="label">
      <span>РЕЗУЛТАТИ</span>
    </div>
    <div class="buttons">
      <button (click)="onCheck('competitions')">Състезание</button>
      <button (click)="onCheck('tests')">Контролно</button>
    </div>
  </div>
</div>
