<div id="profile-core">
  <!-- TODO: Divide "Profile" functionality/screens -> Student and Teacher -->
  <div id="left-menu" *ngIf="user.type == 'teacher'">

    <div id="first-group-btns">
      <ul>
        <li><a routerLink="/profile/info" routerLinkActive="active">Профил</a></li>
      </ul>
    </div>
    <div id="second-group-btns">
      <ul>
        <li><a routerLink="/profile/view-profiles" routerLinkActive="active">Преглед на профили</a></li>
        <li><a routerLink="/profile/edit-profiles" routerLinkActive="active">Управление на профили</a></li>
      </ul>
    </div>
    <div id="thrid-group-btns">
      <ul>
        <li><a routerLink="/profile/edit-resources" routerLinkActive="active">Управление на ресурси</a></li>
        <li><a routerLink="/profile/competitions" routerLinkActive="active">Състезания Контролни</a></li>
      </ul>
    </div>
    <div id="fourth-group-btns">
      <ul>
        <li><a routerLink="/profile/avatars-check" routerLinkActive="active">Провери аватари</a></li>
      </ul>
    </div>
  </div>
  <div id="profile-content" [ngClass]="user.type == 'teacher' ? '' : 'profile-user'">
    <router-outlet></router-outlet>
  </div>
</div>
