<div id="profile-core">
  <div id="left-menu">

    <div id="first-group-btns">
      <ul>
        <li><a>Профил</a></li>
      </ul>
    </div>
    <div id="second-group-btns">
      <ul>
        <li><a>Преглед на профили</a></li>
        <li><a>Управление на профили</a></li>
      </ul>
    </div>
    <div id="thrid-group-btns">
      <ul>
        <li><a>Управление на ресурси</a></li>
        <li><a>Състезания Контролни</a></li>
      </ul>
    </div>
    <div id="fourth-group-btns">
      <ul>
        <li><a>Провери аватари</a></li>
      </ul>
    </div>
  </div>
  <div id="profile-content">
 b
  </div>
</div>
