<div id="profile-core">
  <div id="left-menu">

    <div id="first-group-btns">
      <ul>
        <li><a routerLink="/profile/info" routerLinkActive="active">Профил</a></li>
      </ul>
    </div>
    <div id="second-group-btns">
      <ul>
        <li><a routerLink="/profile/view-profiles">Преглед на профили</a></li>
        <li><a routerLink="/profile/edit-profiles">Управление на профили</a></li>
      </ul>
    </div>
    <div id="thrid-group-btns">
      <ul>
        <li><a routerLink="/profile/edit-resources">Управление на ресурси</a></li>
        <li><a routerLink="/profile/competitions">Състезания Контролни</a></li>
      </ul>
    </div>
    <div id="fourth-group-btns">
      <ul>
        <li><a routerLink="/profile/avatars-check">Провери аватари</a></li>
      </ul>
    </div>
  </div>
  <div id="profile-content">
    <router-outlet></router-outlet>
  </div>
</div>
