.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover,
.active-label {
  background-color: #ba8761 !important;
}

.faq-accordion div {
  padding: 0 18px;
  height: 0px;
  background-color: #ba8761;
  overflow-y: hidden;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 29px;
  display: block;
  text-align: center;

  color: #ffffff;
  color: white;

  transition: all 300ms ease-in-out;
}

.active-faq {
  height: 200px !important;
  overflow-y: scroll;
}

.faq-wrapper {
  position: fixed;
  z-index: 99999999999;
  background-color: #00000099;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-popup {
  width: 70vw;
  height: 80vh;

  max-height: 80vh;
  max-width: 70vw;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.faq-accordion {
  background: radial-gradient(
    50% 1030.19% at 50% 50%,
    rgba(41, 35, 26, 0.6) 0%,
    rgba(141, 106, 78, 0.6) 49.13%,
    rgba(244, 180, 131, 1) 100%
  );
  border: 2px solid #594833;
  box-shadow: inset 0px 0px 13px #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
}

.faq-controls {
  display: flex;
  column-gap: 20px;
}

.faq-controls > div {
  display: flex;
  column-gap: 20px;
}

.faq-controls button {
  background: radial-gradient(
      50% 1030.19% at 50% 50%,
      rgba(41, 35, 26, 0.6) 0%,
      rgba(141, 106, 78, 0.6) 49.13%,
      rgba(244, 180, 131, 1) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border: 2px solid #594833;
  box-shadow: inset 0px 0px 13px #ffffff;

  padding: 10px 70px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  display: block;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;

  cursor: pointer;
}

.accordion {
  background: none;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  display: block;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;
}

.faq-close {
  margin-left: auto;
}
