<form [formGroup]="questionForm" (ngSubmit)="onAddQuestion()">
  <div>
    <input type="radio" id="multiple-text" name="questionType" value="multiple-choice-text" formControlName="questionType">
    <label>Множествен избор</label>
  </div>
  <div>
    <input type="radio" id="open" name="questionType" value="open" formControlName="questionType">
    <label>Отворен въпрос</label>
  </div>
  <div>
    <input type="radio" id="multiple-image" name="questionType" value="multiple-choice-image" formControlName="questionType">
    <label>Избор на изображение</label>
  </div>

  <input type="submit" value="Добави въпрос">
</form>
