#header {
  width: 100%;
  max-width: 1920px;
  position: fixed;
  background-color: transparent;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  z-index: 998;
}


#background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  background: rgb(186, 135, 97);
  background: linear-gradient(180deg,
      rgba(186, 135, 97, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
}

#header-papirus {
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

#header-wrapper {
  width: 87.5%;
  display: flex;
  flex-direction: column;
  row-gap: 0px;
}

#header-first-row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-second-row {
  display: flex;
  justify-content: center;
}

#header-second-row ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#header-second-row ul li {
  float: left;
}

#header-second-row ul li a {
  font-family: Bukyvede;

  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;

  display: block;
  padding: 12px 50px;
  cursor: pointer;

  color: hsla(100, 6%, 9%, 0.8);
}

#header-second-row ul li a:hover {
  background-image: url(../../../assets/core/header_button_background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px 75px;

}

.header-time,
.header-name {
  font-family: Bukyvede;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  padding: 3px 10px;
  width: 300px;

  color: hsla(100, 6%, 9%, 0.8);

  background-image: url(../../../assets/core/header_dateandname_bg_v1.svg);
  background-repeat: no-repeat;
  background-size: cover;

}

[routerlink] {
  text-decoration: none;
}

.active {
  text-decoration: underline;

  background-image: url(../../../assets/core/header_button_background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 125px 125px;

  cursor: not-allowed;
}