<div id="content-first-row">
  <div>
    <form [formGroup]="avClassesForm" (ngSubmit)="selectClass()">
      <p>
        <select formControlName="avclass">
          <option *ngFor="let class of availableClasses" [ngValue]="class.name">
            {{ class.name }}
          </option>
        </select>
      </p>
    </form>
  </div>

  <div id="register-requests-btn">
    <a routerLink="/profile/register-requests">Заявки за регистрация</a>
  </div>
</div>

<!-- TODO: Add second row(table), which will list students. Like in figma design -->
