<div class="question-wrapper">
  <form [formGroup]="answersGroup" class="question-content">
    <div class="question">
      <input [disabled]="true" type="text" value="{{ question.question }}" />
    </div>

    <div class="answers">
      <div>
        <div class="answer">
          <div
            class="display-image"
            [ngStyle]="{
              'background-image': 'url(' + this.images[0].value + ')'
            }"
          ></div>
          <input
            type="radio"
            value="{{ this.images[0].name }}"
            formControlName="answer"
            (change)="onSelectAnswer(this.images[0].name)"
          />
        </div>
        <div class="answer">
          <input
            type="radio"
            value="{{ this.images[1].name }}"
            formControlName="answer"
            (change)="onSelectAnswer(this.images[1].name)"
          />
          <div
            class="display-image"
            [ngStyle]="{
              'background-image': 'url(' + this.images[1].value + ')'
            }"
          ></div>
        </div>
      </div>
      <div>
        <div class="answer">
          <div
            class="display-image"
            [ngStyle]="{
              'background-image': 'url(' + this.images[2].value + ')'
            }"
          ></div>
          <input
            type="radio"
            value="{{ this.images[2].name }}"
            formControlName="answer"
            (change)="onSelectAnswer(this.images[2].name)"
          />
        </div>
        <div class="answer">
          <input
            type="radio"
            value="{{ this.images[3].name }}"
            formControlName="answer"
            (change)="onSelectAnswer(this.images[3].name)"
          />
          <div
            class="display-image"
            [ngStyle]="{
              'background-image': 'url(' + this.images[3].value + ')'
            }"
          ></div>
        </div>
      </div>
    </div>
  </form>
</div>
