.display-image {
  width: 300px;
  height: 225px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.question-wrapper {
  width: 100%;
  display: flex;

  column-gap: 10px;
}

.question-index {
  width: 5%;
}

.question-index p {
  color: white;
  font-family: "Montserrat";
  font-weight: 600;

  background-color: #e9a367;
  padding: 15px;
  text-align: center;
  border-radius: 200px;
}
.question-index p:nth-of-type(2) {
  background-color: rgba(206, 90, 90, 0.845);
  cursor: pointer;
  margin-top: 10px;
}

.question-content {
  background: linear-gradient(
    237.14deg,
    rgba(83, 194, 102, 0.9) 0%,
    #cf9264 100%
  );
  box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  width: 100%;
}

.display-type {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.display-type div {
  width: 40%;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.display-type input[type="text"],
.question-points input {
  border: none;
  padding: 5px 0px;
  width: 100%;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.3em;

  text-align: center;

  color: #ffffff;
}

.question {
  width: 100%;
}

.question input,
.answers input[type="text"] {
  border: none;
  padding: 10px 0px;
  width: 100%;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1em;

  text-align: center;

  color: #ffffff;
}

.answers {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  row-gap: 10px;
}

.answers > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  column-gap: 10px;
}

.answer input[type="radio"],
.display-type input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  padding: 17px;
  background-color: rgba(255, 255, 255, 0.205);
  transform: translateY(0.1em);
}

.answer input[type="radio"]:checked,
.display-type input[type="radio"]:checked {
  display: inline-block;
  background: rgba(83, 194, 102, 0.6);
}

.answer input[type="radio"]:checked::before,
.display-type input[type="radio"]:checked::before {
  content: "\2713";
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #21b52c;
  background-color: rgb(55, 255, 105);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  font-weight: bold;
}

.answer input[type="text"] {
  width: 100%;
}

.question-points input {
  width: 100%;
}

app-image-input {
  flex: 1;
}
