<div class="section-fullscreen bg-auth">
  <div class="left-side">
    <img
      id="img-glagolica-vertical"
      src="../../../../assets/core/glagolica-vertical.png"
      alt=""
    />
    <img
      id="img-diplomanti"
      src="../../../../assets/core/login-diplomanti.png"
      alt=""
    />
  </div>
  <div class="right-side">
    <div id="error-msg" *ngIf="errorMsg">
      <p>
        {{errorMsg}}
      </p>
    </div>
    <div id="form-wrapper">
      <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Потребителско име</label>
            <input
              type="text"
              id="username"
              autocomplete="username"
              class="form-control"
              ngModel
              name="username"
              required
              minlength="4"
            />
          </div>
          <div class="form-group">
            <label for="username">Парола</label>
            <input
              type="password"
              id="password"
              autocomplete="current-password"
              class="form-control"
              ngModel
              name="password"
              required
              minlength="6"
            />
          </div>
        </div>
        <div id="form-btns">
          <button
            class="submit-button"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            Вход
          </button>
          <button class="register-button" type="button" routerLink="/register">Регистрация</button>
        </div>
      </form>
    </div>
  </div>
</div>
