<div class="create-avatar-wrapper">
  <div class="left-side">
    <div *ngIf="this.image.name === ''; else displayImage">
      <label class="image-input-label"
        ><p>Качи аватар</p>
        <input
          type="file"
          id="image-input"
          name="uploadedImage"
          accept="image/jpeg, image/png, image/jpg"
          (change)="onImageUpload($event)"
        />
      </label>
    </div>
    <ng-template #displayImage>
      <div
        class="display-image"
        [ngStyle]="{ 'background-image': 'url(' + this.image.value + ')' }"
      ></div>
      <div class="image-delete-button" (click)="onImageDelete($event)">
        Изтрий
      </div>
    </ng-template>
  </div>
  <div class="right-side">
    <div>
      <input type="text" [(ngModel)]="avatarName" placeholder="Въведете име" />
      <input
        type="text"
        [(ngModel)]="avatarYears"
        placeholder="Въведете период"
      />
    </div>
    <div>
      <textarea
        [(ngModel)]="avatarDescription"
        placeholder="Въведете описание"
      ></textarea>
    </div>
  </div>
</div>

<button id="create-avatar" (click)="createAvatar()">СЪЗДАЙ</button>
